body{
    display: flex;
    margin-top: 300px;
    background-color:salmon;
    width: 100%;
    height: 100%;
    justify-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
button{
    justify-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 180px;
    font-size: 20px;
    color:  snow ;
    background-color: rgb(255, 176, 167);
    cursor: pointer;
    border: none;
}